/* BASIC css start */
.tb-l { text-align: left; }
.tb-c { text-align: center; }
.pl-30 { padding-left: 15px; }
.pl-6 { padding-left: 6px; }

#join h1.tit-join { margin-bottom: 30px; padding-bottom: 6px; border-bottom: 4px solid #3a4452; font-size: 16px; font-weight: bold; }
#join h3.cont-tit { margin-top: 30px; margin-bottom: 5px; padding-left: 15px; color: #575757; font-weight: bold; background: url("/images/d3/modern_simple/bull_tit_h11.gif") no-repeat 0 0; }

#join .red { float:left; }
#join .font-n { font-weight: normal; }
#join .w137 { width : 137px; }
#join .w415 { width : 415px; }

#join .ipin-confirm { height: 110px; padding: 15px 0; border: 3px solid #d4d4d4; text-align: center; background-color: #fdfdfd; }
#join .ipin-confirm .chk-wrap { line-height: 20px; vertical-align: middle; }
#join .ipin-confirm .chk-wrap i { display: inline-block; vertical-align: middle; }
#join .ipin-confirm .chk-wrap label { vertical-align: middle; line-height: 1.25; }
#join .ipin-confirm .chk-wrap .first { margin-right: 20px; }
#join .ipin-confirm p { margin: 20px 0; line-height: 18px; font-size: 14px;  }

#join a.ipin-svc { font-size: 14px; font-weight: bold; color: #ff3333; text-decoration: underline; margin :0 10px;}

#join .btn-area { text-align: center; margin:30px 0;}
#join .btn-area a { font-size: 0; }
#join .ftr-btn { margin-top: 55px; }
#join .ipin-btn { margin-top: 35px; }

/* 회원 정보입력 */
#join .join-info { margin-top: 40px; margin-bottom: 5px; padding-left: 15px; background: url("/images/d3/modern_simple/bull_terms_h14.gif") no-repeat 0 0; }
#join .tb-tit { padding: 15px 0 10px 25px; border-width: 1px 1px 2px 1px; border-color: #dedfde #dedfde #3a4452 #dedfde; border-style: solid; color: #575757; font-weight: bold; background: url("/images/d3/modern_simple/bull_tit_h11.gif") no-repeat 10px 14px #f7f7f7; }

/* 담당자 정보 입력 */
#personInfo { width:730px; padding:30px; border:1px solid #d5d5d5; margin:50px auto 0; }
#personInfo .person-tb { border: 0px solid #dedede; }
#personInfo .person-tb th, #personInfo .person-tb td { border-top: 1px solid #d6d6d6; padding:6px 0; color:#818181;}
#personInfo .person-tb .none { border-top: 0px solid #d6d6d6;}
#personInfo .person-tb th { color:#464646; letter-spacing: -0.25px; vertical-align: middle; padding-right:25px;}
#personInfo .person-tb th .tb-l {text-align:right;}
#personInfo .idpw-info { font-size: 11px; letter-spacing: -1px; }

/* 담당자 정보 입력 */
#addInfo .addinfo-tb { border: 1px solid #dedede; }
#addInfo .addinfo-tb th, #personInfo .person-tb td { border-top: 1px solid #d6d6d6; padding:6px 0;}
#addInfo .addinfo-tb th {  color:#464646; letter-spacing: -0.25px;  vertical-align: middle;  }
#addInfo .addinfo-tb td {  }
#addInfo .addinfo-tb .none { border-top: 0px solid #d6d6d6;}

.btn-area {
	text-align:center;
}


/* BASIC css end */